.deps
.libs
*.la
*.lo
*.o
Makefile.in

/ABOUT-NLS
/autom4te.cache
/Doxyfile
/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1

/src/liblzma/liblzma.pc
/src/xz/xz
/src/xzdec/lzmadec
/src/xzdec/xzdec
