.deps
.libs
*.la
*.lo
*.o
Makefile.in

/ABOUT-NLS
/autom4te.cache
/Doxyfile
/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1

/src/liblzma/liblzma.pc
/src/xz/xz
/src/xzdec/lzmadec
/src/xzdec/xzdec

/lib/Makefile
/tests/Makefile
/Makefile
/po/Makefile
/debug/Makefile
/src/scripts/Makefile
/src/lzmadec/Makefile
/src/xz/Makefile
/src/Makefile
/src/liblzma/check/Makefile
/src/liblzma/delta/Makefile
/src/liblzma/Makefile
/src/liblzma/api/Makefile
/src/liblzma/lz/Makefile
/src/liblzma/rangecoder/Makefile
/src/liblzma/simple/Makefile
/src/liblzma/lzma/Makefile
/src/liblzma/common/Makefile
/src/liblzma/subblock/Makefile
/src/lzma/Makefile
/src/xzdec/Makefile
